streamlit
python-dotenv
pandas
numpy
scikit-learn
matplotlib
Pillow           
reportlab        
langgraph
langchain
langchain-openai
langchain-chroma
chromadb
tiktoken         
kaggle
fastapi
uvicorn
pandas
scikit-learn
joblib
mlflow
pytest>=7.0.0
flake8>=6.0.0
